body{
font-family: Arial, sans-serif;
background:#f4f4f4;
margin:0;
padding:0;
}

.container{
width:80%;
margin:auto;
background:white;
padding:30px;
}

header{
text-align:center;
border-bottom:2px solid #ccc;
padding-bottom:10px;
}

h1{
margin:0;
color:#333;
}

h2{
color:#444;
border-bottom:1px solid #ddd;
padding-bottom:5px;
margin-top:25px;
}

section{
margin-top:20px;
}

ul{
padding-left:20px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

table, th, td{
border:1px solid #ddd;
}

th{
background:#eee;
}

th, td{
padding:8px;
text-align:center;
}

footer{
margin-top:40px;
text-align:right;
}