*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
background:#e1b7b7;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.container{
width:85%;
max-width:1200px;
display:flex;
align-items:center;
justify-content:space-between;
}

.left{
flex:1;
}

.title{
font-size:80px;
font-weight:800;
letter-spacing:2px;
margin-bottom:10px;
}

.subtitle{
font-size:18px;
color:#555;
margin-bottom:20px;
}

.line{
width:120px;
height:4px;
background:black;
margin:20px 0;
}

.info h2{
font-size:28px;
margin-bottom:5px;
}

.info p{
color:#444;
margin-bottom:10px;
}

.year{
margin-top:30px;
font-weight:500;
}

.btn{
margin-top:30px;
padding:12px 30px;
border:none;
background:black;
color:white;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.btn:hover{
background:#333;
transform:translateY(-3px);
}

.right{
flex:1;
display:flex;
justify-content:center;
}

.right img{
width:400px;
border-radius:20px;
box-shadow:0 10px 30px rgb(16, 1, 1);
}

.footer{
width:100%;
text-align:left+1;
padding:30px 0;
position:absolute;
bottom:0;
}

.thank-btn{
padding:12px 30px;
background:#00ff9d;
color:black;
text-decoration:none;
font-weight:600;
border-radius:30px;
transition:0.3s;
}

.thank-btn:hover{
background:white;
transform:scale(1.1);
}